{{.Header}}

CLINICAL INFORMATION:
{{.ClinicalInfo}}

PROCEDURES PERFORMED:
{{.Procedures}}

FINDINGS:
{{.Findings}}

IMPRESSION:
{{.Impression}}

{{if .Recommendations}}RECOMMENDATIONS:
{{.Recommendations}}
{{end}}{{.AdditionalInfo}}
